pageheader {
  font-family: 'Tangerine', sarif;
  border-bottom: solid;
  padding: 0;
  margin: 0;
  text-align: left;
}

footer {
  border-top: solid;
  border-bottom: solid;
}

.col-lg-9 {
  outline: 1px black solid;
}

.row {
  outline: 1px black solid;
}