header {
  text-align: center;
  font-family: 'Tangerine', sarif;
}

footer {
  text-align: center;
  clear: both;
}

#summary {
  display: inline;
  float: left;
  width: 25%;
}

#info {
  display: inline;
  float: right;
  width: 75%;
}

#info + h3 {
  text-align: center;
}