html, body {
  height: 100%;
}

.header {
  height: 25%;
}
.navbar {
  height: 50px;
}

.footer {
  height: 50px;
  color: red;
}

body {
  background: url("http://orig14.deviantart.net/a787/f/2009/272/2/0/abstract_dream_background_by_disable54.jpg");
  background-size: 100% 100%;
}

.header h1 {
  color: #0B2265;
  font-family: 'Pacifico', cursive;
}

.col-lg-3 {
  border: solid thin darkblue;
  border-radius: 10px;
}

.col-lg-3 {
  color: grey;
}

.col-lg-9 {
  border: solid thin darkblue;
  border-radius: 10px;
}

.col-lg-9 h3 {
  font-weight: bold;
  color: #4B0000;
}