header {
  height: 25%;
}

header h1 {
  color: #0B2265;
  font-family: 'Pacifico', cursive;
}

nav {
  height: 50px;
  border-top: solid;
  border-bottom: solid;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background: url("http://orig14.deviantart.net/a787/f/2009/272/2/0/abstract_dream_background_by_disable54.jpg");
  background-size: 100% 100%;
}

#summary {
  width: 25%;
  float: left;
  color: #4B0000;
}

#summary h3 {
  weight: bold;
}

#main {
  float: right;
  width: 74%;
  color: #4B0000;
  border-left: solid thin red;
}

footer {
  height: 50px;
  clear: both;
  border-top: solid thin;
  border-bottom: solid thin;
}

#links {
  vertical-align: middle;
  display: table-cell;
  height: 50px;
}

nav a {
  font-size: 20px;
  color: #fafff4;
}

#home {
  border-right: solid thin #0B2265;
  border-width: 2px;
}

#forms {
  border-right: solid thin #0B2265;
}

